<%= form_for(@distrito) do |f| %>
  <% if @distrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@distrito.errors.count, "error") %> prohibited this distrito from being saved:</h2>

      <ul>
      <% @distrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :canton_id %><br>
    <%= f.number_field :canton_id %>
  </div>
  <div class="field">
    <%= f.label :canton_provincia_id %><br>
    <%= f.number_field :canton_provincia_id %>
  </div>
  <div class="field">
    <%= f.label :ruta_id %><br>
    <%= f.number_field :ruta_id %>
  </div>
  <div class="field">
    <%= f.label :ruta_Empresa_id %><br>
    <%= f.number_field :ruta_Empresa_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
