<h1>Listing distritos</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Canton</th>
      <th>Canton provincia</th>
      <th>Ruta</th>
      <th>Ruta empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distritos.each do |distrito| %>
      <tr>
        <td><%= distrito.id %></td>
        <td><%= distrito.canton_id %></td>
        <td><%= distrito.canton_provincia_id %></td>
        <td><%= distrito.ruta_id %></td>
        <td><%= distrito.ruta_Empresa_id %></td>
        <td><%= link_to 'Show', distrito %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>
