<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @distrito.id %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @distrito.canton_id %>
</p>

<p>
  <strong>Canton provincia:</strong>
  <%= @distrito.canton_provincia_id %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @distrito.ruta_id %>
</p>

<p>
  <strong>Ruta empresa:</strong>
  <%= @distrito.ruta_Empresa_id %>
</p>

<%= link_to 'Edit', edit_distrito_path(@distrito) %> |
<%= link_to 'Back', distritos_path %>
