<%= form_for(@ruta_contiene_segmento) do |f| %>
  <% if @ruta_contiene_segmento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ruta_contiene_segmento.errors.count, "error") %> prohibited this ruta_contiene_segmento from being saved:</h2>

      <ul>
      <% @ruta_contiene_segmento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ruta_id %><br>
    <%= f.number_field :ruta_id %>
  </div>
  <div class="field">
    <%= f.label :ruta_Empresa_id %><br>
    <%= f.number_field :ruta_Empresa_id %>
  </div>
  <div class="field">
    <%= f.label :segmento_id %><br>
    <%= f.number_field :segmento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
