<h1>Listing ruta_contiene_segmentos</h1>

<table>
  <thead>
    <tr>
      <th>Ruta</th>
      <th>Ruta empresa</th>
      <th>Segmento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruta_contiene_segmentos.each do |ruta_contiene_segmento| %>
      <tr>
        <td><%= ruta_contiene_segmento.ruta_id %></td>
        <td><%= ruta_contiene_segmento.ruta_Empresa_id %></td>
        <td><%= ruta_contiene_segmento.segmento_id %></td>
        <td><%= link_to 'Show', ruta_contiene_segmento %></td>
        <td><%= link_to 'Edit', edit_ruta_contiene_segmento_path(ruta_contiene_segmento) %></td>
        <td><%= link_to 'Destroy', ruta_contiene_segmento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruta contiene segmento', new_ruta_contiene_segmento_path %>
