<p id="notice"><%= notice %></p>

<p>
  <strong>Ruta:</strong>
  <%= @ruta_contiene_segmento.ruta_id %>
</p>

<p>
  <strong>Ruta empresa:</strong>
  <%= @ruta_contiene_segmento.ruta_Empresa_id %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @ruta_contiene_segmento.segmento_id %>
</p>

<%= link_to 'Edit', edit_ruta_contiene_segmento_path(@ruta_contiene_segmento) %> |
<%= link_to 'Back', ruta_contiene_segmentos_path %>
