<h1>Listing segmentos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Segmento linea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segmentos.each do |segmento| %>
      <tr>
        <td><%= segmento.nombre %></td>
        <td><%= segmento.segmento_linea %></td>
        <td><%= link_to 'Show', segmento %></td>
        <td><%= link_to 'Edit', edit_segmento_path(segmento) %></td>
        <td><%= link_to 'Destroy', segmento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Segmento', new_segmento_path %>
