<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @segmento.nombre %>
</p>

<p>
  <strong>Segmento linea:</strong>
  <%= @segmento.segmento_linea %>
</p>

<%= link_to 'Edit', edit_segmento_path(@segmento) %> |
<%= link_to 'Back', segmentos_path %>
