<%= form_for(@canton) do |f| %>
  <% if @canton.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canton.errors.count, "error") %> prohibited this canton from being saved:</h2>

      <ul>
      <% @canton.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :provincia_id %><br>
    <%= f.number_field :provincia_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
