<h1>Listing cantons</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Provincia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cantons.each do |canton| %>
      <tr>
        <td><%= canton.id %></td>
        <td><%= canton.nombre %></td>
        <td><%= canton.provincia_id %></td>
        <td><%= link_to 'Show', canton %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


