<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @canton.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @canton.nombre %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @canton.provincia_id %>
</p>

<%= link_to 'Edit', edit_canton_path(@canton) %> |
<%= link_to 'Back', cantons_path %>
