<%= form_for(@parada_tiene_segmento) do |f| %>
  <% if @parada_tiene_segmento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parada_tiene_segmento.errors.count, "error") %> prohibited this parada_tiene_segmento from being saved:</h2>

      <ul>
      <% @parada_tiene_segmento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parada_id %><br>
    <%= f.number_field :parada_id %>
  </div>
  <div class="field">
    <%= f.label :segmento_id %><br>
    <%= f.number_field :segmento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
