<h1>Listing parada_tiene_segmentos</h1>

<table>
  <thead>
    <tr>
      <th>Parada</th>
      <th>Segmento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parada_tiene_segmentos.each do |parada_tiene_segmento| %>
      <tr>
        <td><%= parada_tiene_segmento.parada_id %></td>
        <td><%= parada_tiene_segmento.segmento_id %></td>
        <td><%= link_to 'Show', parada_tiene_segmento %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
