<p id="notice"><%= notice %></p>

<p>
  <strong>Parada:</strong>
  <%= @parada_tiene_segmento.parada_id %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @parada_tiene_segmento.segmento_id %>
</p>

<%= link_to 'Edit', edit_parada_tiene_segmento_path(@parada_tiene_segmento) %> |
<%= link_to 'Back', parada_tiene_segmentos_path %>
