<%= form_for(@provincium) do |f| %>
  <% if @provincium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provincium.errors.count, "error") %> prohibited this provincium from being saved:</h2>

      <ul>
      <% @provincium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
