<h1>Listing empresas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Desc</th>
      <th>Website</th>
      <th>Tel1</th>
      <th>Tel2</th>
      <th>Email</th>
      <th>Dir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nombre %></td>
        <td><%= empresa.desc %></td>
        <td><%= empresa.website %></td>
        <td><%= empresa.tel1 %></td>
        <td><%= empresa.tel2 %></td>
        <td><%= empresa.email %></td>
        <td><%= empresa.dir %></td>
        <td><%= link_to 'Show', empresa %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

