<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @empresa.desc %>
</p>

<p>
  <strong>Website:</strong>
  <%= @empresa.website %>
</p>

<p>
  <strong>Tel1:</strong>
  <%= @empresa.tel1 %>
</p>

<p>
  <strong>Tel2:</strong>
  <%= @empresa.tel2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @empresa.dir %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
