<%= form_for(@rutum) do |f| %>
  <% if @rutum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rutum.errors.count, "error") %> prohibited this rutum from being saved:</h2>

      <ul>
      <% @rutum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :tarifa %><br>
    <%= f.text_field :tarifa %>
  </div>
  <div class="field">
    <%= f.label :Empresa_id %><br>
    <%= f.number_field :Empresa_id %>
  </div>
  <div class="field">
    <%= f.label :ruta_linea %><br>
    <%= f.text_field :ruta_linea %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
