<h1>Listing ruta</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Tarifa</th>
      <th>Empresa</th>
      <th>Ruta linea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruta.each do |rutum| %>
      <tr>
        <td><%= rutum.id %></td>
        <td><%= rutum.nombre %></td>
        <td><%= rutum.codigo %></td>
        <td><%= rutum.tarifa %></td>
        <td><%= rutum.Empresa_id %></td>
        <td><%= rutum.ruta_linea %></td>
        <td><%= link_to 'Show', rutum %></td>
        <td><%= link_to 'Edit', edit_rutum_path(rutum) %></td>
        <td><%= link_to 'Destroy', rutum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rutum', new_rutum_path %>
