<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @rutum.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @rutum.nombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @rutum.codigo %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @rutum.tarifa %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @rutum.Empresa_id %>
</p>

<p>
  <strong>Ruta linea:</strong>
  <%= @rutum.ruta_linea %>
</p>

<%= link_to 'Edit', edit_rutum_path(@rutum) %> |
<%= link_to 'Back', ruta_path %>
