<%= form_for(@parada) do |f| %>
  <% if @parada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parada.errors.count, "error") %> prohibited this parada from being saved:</h2>

      <ul>
      <% @parada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :ruta_img %><br>
    <%= f.text_field :ruta_img %>
  </div>
  <div class="field">
    <%= f.label :punto_parada %><br>
    <%= f.text_field :punto_parada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
