<h1>Listing paradas</h1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th>Ruta img</th>
      <th>Punto parada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paradas.each do |parada| %>
      <tr>
        <td><%= parada.desc %></td>
        <td><%= parada.ruta_img %></td>
        <td><%= parada.punto_parada %></td>
        <td><%= link_to 'Show', parada %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


