<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @parada.desc %>
</p>

<p>
  <strong>Ruta img:</strong>
  <%= @parada.ruta_img %>
</p>

<p>
  <strong>Punto parada:</strong>
  <%= @parada.punto_parada %>
</p>

<%= link_to 'Edit', edit_parada_path(@parada) %> |
<%= link_to 'Back', paradas_path %>
