<!DOCTYPE html>
<html>
<head>
  <title>Bus Intelligence API</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Bus Intelligence API!</a>
        <div class="nav-collapse">
          <ul class="nav">
	          	<% if user_signed_in? %>
				  Logged in as <strong><%= current_user.email %></strong>.
				  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
				 <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				<% else %>
				 <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
			  	<li><%= link_to "Contact Us" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  	  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
  <% end %>
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <div class="jumbotron well">
          <h1>About Us</h1><h4>by Randall Valenciano</h4>
          <p>Bus Intelligence API contains all the api endpoints and its administration.</p>
         <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  API Endpoints!
</button></p>
        </div>
        <br>
       <%= image_tag "bus.png", class: "img-thumbnail", size: "70" %> 

      </div>
    </div>

     <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title">API Endpoints</h4>
              </div>
              <div class="modal-body">

                <p>Requires authentication!</p>
                <br>
                <div class="well"><h4>Empresa</h4><p><ul>Parámetros: <br><li>Id: Integer (Opcional), id de la empresa autobusera.</li><br>
                <li>Nombre : String (Opcional), nombre de la empresa autobusera.</li>
                <br><li>Si no se proporciona parámetros, devuelve todas las empresas.</li></ul></p></div>

                <div class="well"><h4>Rutas</h4><p><ul>Parámetros: <br><li>Id: Integer (Opcional), id de la ruta.</li><br>
                <li>NombreRuta : String (Opcional), nombre de la ruta.</li>
                <br><li>Si no se proporciona parámetros, devuelve todas las rutas.</li></ul></p></div>

                 <div class="well"><h4>Paradas</h4><p><ul>Parámetros: <br><li>lat: Float (Requerido), Latitud del punto a buscarle una parada cercana.</li><br>
                <li>long: Float (Requerido), Longitud del punto a buscarle una parada cercana.</li>
                <br><li>Si no se proporciona parámetros, devuelve todas las paradas.</li></ul></p></div>


                 <div class="well"><h4>Segmento</h4><p><ul>Parámetros: <br><li>lat: Float (Requerido), Latitud del punto a buscarle un segmento cercano.</li><br>
                <li>long: Float (Requerido), Longitud del punto a buscarle un segmento cercano.</li>
                <br><li>Si no se proporciona parámetros, devuelve todos los segmentos.</li></ul></p></div>
              </div><!-- /.modal-body -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
              </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
  </div>
  

</body>
</html>